header{
    color:#fff;
    background-color: rgb(134, 227, 243);
    height: 140px;
    width:100%;
}
.header-logo{
    float: left;
  font-size: 50px;
  margin:20px;
}
.header-Subscribe{
    
    color:#fff;
    font-size: 30px;
    padding:5px 10px;
    background-color:#ff577b;
    float:right;
    margin: 30px 10px;
    border:0px;
    box-shadow: 0 7px #b83a56;
    border-radius:10px;
}
.header-Subscribe:hover{
    background-color: #df4768;
}
.header-Subscribe:active{
    position: relative;
    top: 7px;
    box-shadow: none;
}
.header-sub{
    float:right;
    margin:20px;
    padding:20px;
    font-size: 25px;
}
.header-span{
    font-size: 20px;
}
body{
    margin: 0;
}


.main-title{
    border-bottom:1px solid #000;
    margin:0;
}

.info{
    height:280px;
    background-color: rgb(220, 162, 238);
    padding-left: 10px;
}
.symptoms{
    height:280px;
    background-color: rgb(202, 152, 235);
    padding-left: 10px;
}
.safety-measures{
    height:280px;
    background-color: rgb(230, 146, 211);
    padding-left: 10px;
}
.zones{
    background-color: rgb(235, 177, 160);
    padding-left: 10px;
}
.stats{
    background-color: rgb(240, 238, 142);
    padding-left: 10px;
    margin:0;
}
.covid{
    color:red;
}

img{
    float:right;
    width:400px;
    height:200px;
}

#more,#more2{
    display:none;
}
table {
    border-collapse: collapse;
    margin:10px;
    margin-left:200px;
    
  }
table, th, td {
    border: 1px solid black;
    
    padding:10px;
  }
  td{
    text-align:left;
  }
.footer{
background-color:rgb(109, 248, 16);
color:black;
height:120px;
width:100%;
padding-top: 20px;
padding-bottom: 20px;
}
 .footer-logo{
     float:left;
     padding:10px;
 }
.footer-list{
    list-style-type:none ;
    float:right;
    
}
.subscribe{
    background-color:rgb(128, 128, 128);
    width:50%;
    height:50%;
    border:1px solid #000;
    padding:50px;
    text-align: center;
    position: absolute;
    left:25%;
    right:25%;
    top:20%;
    bottom:25%;
    background-image: url(https://cdn1.expresscomputer.in/wp-content/uploads/2020/03/27181622/coronavirus.jpeg);
    opacity: 0.8;
    background-size: cover;
    
}
.subscribe-text,.subscribe-button,#mobile-number,.thanks{
    margin:20px;
}
#mobile-number{
    width:250px;
    height:25px;
}
.subscribe-button{
    background-color: #000;
    color:#fff;
    border:none;
    height:30px;
    width:90px;
    box-shadow: 0 5px rgb(92, 89, 89);
    border-radius:10px;
}
.subscribe-button:hover{
    background-color: rgb(32, 32, 32);
}
.subscribe-button:active{
    position: relative;
    top: 5px;
    box-shadow: none;
}
.credits{
    font-size: 10px;
}

.white{
    color:white;
}
.red{
    background-color: red;
}
.orange{
    background-color: orange;
}
.green{
    background-color: green;
}
.subscribe-body{
    background-color: rgb(248, 219, 219);
}

.news-1 , .news-2{
    
    padding-left: 10px;
}
.main{
    background-color: rgb(189, 203, 241);
}
